[submodule "dotfiles/.vim/bundle/vim-pathogen"]
	path = dotfiles/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/.vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.vim/bundle/vim-nerdtree"]
	path = dotfiles/.vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/vim-syntastic"]
	path = dotfiles/.vim/bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotfiles/.vim/bundle/vim-yats"]
	path = dotfiles/.vim/bundle/vim-yats
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "dotfiles/.vim/bundle/vim-bufexplorer"]
	path = dotfiles/.vim/bundle/vim-bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "dotfiles/.vim/bundle/vim-conque"]
	path = dotfiles/.vim/bundle/vim-conque
	url = https://github.com/nicoraffo/conque.git
[submodule "dotfiles/.vim/bundle/vim-emmet-vim"]
	path = dotfiles/.vim/bundle/vim-emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/.vim/bundle/vim-airline-themes"]
	path = dotfiles/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotfiles/.vim/bundle/vim-polyglot"]
	path = dotfiles/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "dotfiles/.vim/bundle/javascript-libraries-syntax.vim"]
	path = dotfiles/.vim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "dotfiles/.vim/bundle/vim-lastplace"]
	path = dotfiles/.vim/bundle/vim-lastplace
	url = https://github.com/dietsche/vim-lastplace.git
[submodule "dotfiles/.vim/bundle/vim-tern_for_vim"]
	path = dotfiles/.vim/bundle/vim-tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "dotfiles/.vim/bundle/auto_mkdir"]
	path = dotfiles/.vim/bundle/auto_mkdir
	url = https://github.com/DataWraith/auto_mkdir.git
[submodule "dotfiles/.vim/bundle/tern-meteor"]
	path = dotfiles/.vim/bundle/tern-meteor
	url = https://github.com/slava/tern-meteor.git
[submodule "dotfiles/.vim/bundle/vim-jdaddy"]
	path = dotfiles/.vim/bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "dotfiles/.vim/bundle/tern-meteor"]
	path = dotfiles/.vim/bundle/tern-meteor
	url = https://github.com/slava/tern-meteor.git
